@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

:root{
--Blue: hsl(223, 87%, 63%);
--Pale-Blue: hsl(223, 100%, 88%);
--Light-Red: hsl(354, 100%, 66%);
--Gray: hsl(0, 0%, 59%);
--Very-Dark-Blue: hsl(209, 33%, 12%);
}

*, *:after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 300, 600, 700;
    max-width: 1440px;
    margin: 0 auto;
    
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 30px var(--Blue);
    margin: 0 auto;
    border: 2px solid green;
    width: 100%;
    height: 100vh;
   
    
    
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
.logo{
    margin-bottom: 40px;
}
h1{
    font-weight: 300;
    color: var(--Gray);
    font-size: 30px;
    margin-bottom: 10px;
}
strong{
    color: var(--Very-Dark-Blue);
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header p{
    color: var(--Very-Dark-Blue);
    margin-bottom: 20px;
}
.mail{
    padding: 10px;
    border-radius: 30px;
    border-color: var(--Blue);
    opacity: 0.3;
    box-shadow: 0px 0px 2px blue;
    padding-left: 15px;
    padding-right: 100px;
    
    
}
form{
    margin-bottom: 60px;
}
.submitbtn{
background-color: var(--Blue);
padding: 8px;
padding-right: 25px;
padding-left: 25px;
margin-left: 10px;
border-radius: 30px;
box-shadow: 0px 0px 9px inherit;
color: white;
font-weight: 300;
cursor: poiner;

}
.dashboard{
    width: 400px;
    margin-bottom: 30px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
picture{
    margin-bottom: 20px;
    color: var(--Blue);
    
}
picture i {
    border: .1px solid var(--Very-Dark-Blue);
    width: 30px;
    padding: 8px;
    margin-right: 10px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
footer span{
    font-size: 10px;
    color: var(--Gray);
    opacity: 0.7;
}

.valid{
    display: none;
}
.invalid{
    
    color: red;
    
}
.error .active{
    color: red;
    
    
    
}
.error{
    
    color: red;
    position: relative;
    bottom: 50px;
    right: 130px;
    font-size: 10px;
    
}

@media (max-width: 375px) {
    body {
        max-width: 375px;
        display: flex;
        flex-direction: column;
        
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:  center;
        overflow: hidden;
    }
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .submitbtn{
        margin-top: 30px;
        width: 285px;
        margin-right: 10px;
        cursor: pointer;
    }
    .error{
        position: relative;
        bottom: 118px;
        left: 0px;
    }
}

